body {
    font-family: Arial, sans-serif;
    background: #000000;
    color: white;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid wheat;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  #searchInput {
    width: 99%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
    border-radius: 5px;
  }
  
  #countryInfo {
    border: 1px solid wheat;
    padding: 10px;
    border-radius: 5px;
    display: none;
  }
  
  #countryInfo img {
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }
  